.lightgray {
  background-color: lightgray;
}

.jobtitle {
  font-style: italic;
  font-weight: lighter;
  font-size: 50%;
}
.lightblue {
  background-color: lightblue;
  font-style: italic;
  font-weight: 100;
}